@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


.NavBar {
  border: 1px solid #dadadf;
  background-color: rgb(56, 103, 246);
  height: 80px ;
}
.NavLink{
  color:white;
  text-shadow: 4px 4px 4px #aaa;
}
.NavBar h1{
  font-family: 'Shrikhand', serif;
  color:white;
  font-size:40px;
  
}
.NavLink {
  padding: 5px;
  font-size:18px;
  
}

.Active i {
  color: #2142b2;
}
 