.NavBar {
  border: 1px solid #dadadf;
  background-color: rgb(207, 218, 251);
  height: 80px ;
}
.NavBar h1, .NavLink{
  color:black;
  font-family: 'Dancing Script', serif;
  text-shadow: 4px 4px 4px #aaa;
}
.NavBar h1{
font-size: 50px;
}
.NavLink {
  padding: 5px;
  font-size:20px;
 
}

.Active i {
  color: #2142b2;
}
 