.sidebar {
    grid-row: 2;
    display: flex;
    flex-direction: column; 
    height: calc(100vh - 50px);
    margin-right: 100px;
    margin-left: -60px;
   
}

.sidebar > a {
    padding: 10px 0;
    padding-left: 10px;
  
}

.sidebar > a:hover{
    color: #445261;
    background-color: #e6ecf0;
    border: white solid 1px;
}


